<div class="col s12 l9" *ngIf="repositories">
    <div class="card-panel hoverable brown lighten-4">
        <table class="highlight responsive-table">
            <thead>
                <th>Repository Name</th>
                <th>Starsgazers count</th>
                <th>Programming Language</th>
            </thead>
            <tbody>
                <tr *ngFor="let repo of repositories" [routerLink]="['/', repo.owner.login, repo.name]" style="cursor: pointer;">
                    <td>{{repo.name}}</td>
                    <td>{{repo.stargazers_count}}</td>
                    <td>{{repo.language}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>