<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper grey darken-3">
                <div class="brand-logo center">
                    <img src="../assets/images/github_logo.png" height="35px">
                </div>
            </div>
        </nav>
    </div>
</header>

<main class="main">
    <div class="container">
        <div class="row">
            <form (ngSubmit)="search()" #searchForm="ngForm" ngNativeValidate>
                <div class="row">
                    <div class="input-field col s5">
                        <label for="search">Search</label>
                        <input type="search" name="userSearch" [(ngModel)]="userSearch" required autocomplete="off" />
                    </div>
                    <div class="input-field col">
                        <button class="btn" type="submit">Search</button>
                    </div>
                </div>
            </form>

            <app-git-hub-user-view [gitHubuser]="gitHubuser"></app-git-hub-user-view>

            <table *ngIf="gitHubuser" border="1">
                <thead>
                    <th>Name</th>
                    <th>Stars</th>
                    <th>Language</th>
                </thead>
                <tbody>
                    <tr *ngFor="let repo of repositories">
                        <td>{{repo.name}}</td>
                        <td>{{repo.stargazers_count}}</td>
                        <td>{{repo.language}}</td>
                    </tr>
                </tbody>
            </table>

            <router-outlet></router-outlet>
        </div>
    </div>
</main>

<footer class="page-footer grey darken-4">
    <div class="footer-copyright">
        <div class="row">
            <div class="col s12">
                &copy; 2018 GitHubViewer 2.0
            </div>
        </div>
    </div>
</footer>